.accordion {
  max-width: 368px;
  margin: 20px auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  /* background-color: #f79386; */
  background-color: #faada2;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

/* .accordion-title:hover {
  background-color: #9ab8fa;
  color: white;
} */

.accordion-title,
.accordion-content {
  padding: 0.6rem 1rem;
  border-radius: 8px;
}

.accordion-content {
  /* background-color: white; */
  /* background-color: #feeae5; */
  background-color: #f8faf0;
  color: #2a2c38;
  text-align: left;
  font-size: 15px;
  word-break: keep-all;
}
