/* textalign center 안 했는데 왜 instruction & title 가운데 정렬 돼있는지? */

.frame {
  background-color: #fc474f;
  width: 368px;
  height: 450px;
  margin: 20px auto 20px auto;
}

.frame.disabled .square {
  cursor: default;
}

.frame-title {
  font-family: "cooper";
  font-size: 60px;
  font-weight: bold;
  color: white;
  padding: 10px 25px;

  /* !!!타이틀 stretch가 왜 안 되지? */
  /* text-align: justify; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.board-container {
  width: 355px;
  height: 340px;
  margin: auto auto;
}

.row {
  display: flex;
}

.square {
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 2px;
  flex: 1;
  text-overflow: clip;
  color: #2a2c38;
  font-weight: 600;
  font-size: 12px;
  /* word-wrap: break-word; */
  word-break: keep-all;
  cursor: pointer;
}

.square.long {
  font-size: 12px;
}

.square.activated {
  /* background-color: #9ab8fa; */
  background-color: #faf2b3;
  color: #2a2c38;
  /* background-color: #fa747b;
  color: white; */
}

.square.unclickable {
  background-color: #fa747b;
  color: white;
  font-size: 26px;
  font-weight: bold;
  /* 아래로 살짝 옮기는 법? */
  /* 기본 폰트 말고 specify 해주는 게 좋은가? */
  cursor: help;
}
