.ranking-container {
  background-color: #f79386;
  width: 320px;
  margin: 30px auto;
  border-radius: 15px;
}

.rankingboard-title {
  color: white;
  /* color: #faf2b3; */
  font-size: 30px;
  font-family: "cooper";
  padding: 15px;
}

.ranking-item {
  display: flex;
  padding: 10px 22px 15px;
  /* justify-content: space-between; */
  justify-content: space-evenly;
}

.rank {
  font-family: "cooper";
  font-size: 30px;
  /* color: rgb(187, 227, 243); */
  /* color: rgb(210, 241, 245); */
  color: #faf2b3;
  /* padding-right: 10px; */
  width: 10px;
  position: relative;
  top: -15px;
  z-index: 100;
}

.mbti-name {
  font-family: "cooper";
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  color: white;
  /* color: #faf2b3; */
  padding-right: 10px;
  width: 120px;
  text-align: left;
  z-index: 80;
}

.mbti-cog {
  font-size: 21px;
}

.mbti-count {
  font-family: "Courier New", Courier, monospace;
  color: white;
  width: 46px;
}

.counted-number {
  font-size: 25px;
  font-weight: bold;
  color: #faf2b3;
}

.unit {
  font-family: "bingre";
  font-size: 16px;
  /* color: #faf2b3; */
}

.image-container {
  width: 50px;
  position: relative;
  top: -6px;
  left: -10px;
  /* left: 0; */
  /* top: 10px;
  left: -20px; */
  /* top: -5px;
  left: -20px; */
  z-index: 90;
}

.front {
  position: relative;
  top: 10px;
  left: 4px;
}
.back {
  position: absolute;
  top: 0px;
  left: 0px;
  filter: brightness(135%);
}
