/* h2보다 classname 따로 주는 게 안전한가? any way to apply style to this page only? */
.mystery-intro-title {
  margin-top: 60px;
  margin-bottom: 5px;
}

.colored {
  font-size: 34px;
  color: #d7588d;
}

.mysterybingo-p {
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 21px;
  line-height: 35px;
}

.custom-txt {
  color: rgb(140, 140, 235);
  font-weight: 600;
  font-size: 25px;
}
